<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#2196f3">

    <!-- Your app title -->
    <title>Abiri</title>

    <!-- This template defaults to the iOS CSS theme. To support both iOS and material design themes, see the Framework7 Tutorial at the link below:
        http://www.idangero.us/framework7/tutorials/maintain-both-ios-and-material-themes-in-single-app.html
    -->
    <link rel="stylesheet" href="f7/css/framework7.ios.min.css">
    <!--    <link rel="stylesheet" href="lib/css/framework7.ios.colors.min.css">-->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="f7/icons/css/framework7-icons.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

<div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <div class="panel panel-left panel-reveal r8em-menu-panel theme-white">

        <div class="profile-image-container" style="padding-bottom: 10px;">
            <img id="user_image" data-src="img/user.png" alt="user" class="profile-image lazy lazy-fade-in"/>

            <p align="center" id='username' style="margin: 0px;">{{ name }}</p>
            <p href="#" style="color: #f60a07;" id="profile_email">{{ email@address.com}}</p>
        </div>

        <div class="list-block" style="margin: 0px;">
            <div class="list">
                <ul>
                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-home"></i></div>
                        <div class="item-inner">
                            <a href="index.html" class="item-title" id="linkHome">Home</a>
                        </div>
                    </li>
                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <a class="item-inner" href="/planjourney">
                            <div class="item-title">Plan Journey</div>
                        </a>
                    </li>
                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <a class="item-inner" href="/cars">
                            <div class="item-title" >My Cars</div>
                        </a>
                    </li>

                    <li class="item-content list-panel-browse panel-close item-link">
                        <div class="item-media"><i class="fa fa-road"></i></div>
                        <div class="item-inner">
                            <a class="item-title" href="/journeys">
                                <div style="color: #000">My Journeys</div>
                            </a>
                        </div>
                    </li>
                    <li class="item-content list-panel-browse panel-close item-link">
                        <div class="item-media"><i class="fa fa-map"></i></div>
                        <div class="item-inner">
                            <a class="item-title" href="/taxiranks">
                                <div style="color: #000">Taxi Ranks</div>
                            </a>
                        </div>
                    </li>
                    <li class="item-divider"></li>
                    <li class="item-content list-panel-saved panel-close item-link">
                        <div class="item-media"><i class="fa fa-edit"></i></div>
                        <a class="item-inner" href="/reviews">
                            <div class="item-title" id="reviews">Reviews</div>
                        </a>
                    </li>

                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-share-alt"></i></div>
                        <a class="item-inner"
                           href="javascript:void(0)"
                           id="inviteOthers">
                            <div class="item-title">Invite Others</div>
                            <div class="comingsoon-flag">share</div>
                        </a>
                    </li>
                    <li class="item-content list-panel-favorites panel-close item-link">
                        <div class="item-media"><i class="fa fa-phone"></i></div>
                        <a class="item-inner" href="/contact">
                            <div class="item-title" id="contact">Contact</div>
                        </a>
                    </li>
                    <li class="item-content list-panel-favorites panel-close item-link">
                        <div class="item-media"><i class="fa fa-info-circle"></i></div>
                        <a class="item-inner" href="/about">
                            <div class="item-title">About</div>
                        </a>
                    </li>
                    <li class="item-divider"></li>
                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-cogs"></i></div>
                        <a class="item-inner" href="/settings">
                            <div class="item-title">Settings</div>
                        </a>
                    </li>
                    <li class="item-divider"></li>
                    <li class="item-content list-panel-all panel-close item-link">
                        <div class="item-media"><i class="fa fa-user-o"></i></div>
                        <a class="item-inner" href="/profile">
                            <div class="item-title">My Profile</div>
                        </a>
                    </li>

                    <li class="item-content list-panel-all panel-close item-link" id="btnMoreLogOff">
                        <div class="item-media"><i class="fa fa-lock"></i></div>
                        <div class="item-inner">
                            <div class="item-title">Log Off</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="index" class="page">

            <!-- Top Navbar -->
            <div class="navbar">
                <div class="navbar-inner">

                    <div class="title">ABIRI</div>
                    <div class="right">
                        <a href="#" class="link icon-only panel-open">
                            <i class="f7-icons">bars</i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Scrollable page content -->
            <div class="page-content" id="indexPage">
                <div class="row no-gutter">
                    <div class="col-100 tablet-100">
                        <img class="full-width-image" src="img/cars/car1.jpg" id="car_image">
                    </div>
                </div>

                <div class="indexPage">
                    <div class="row no-gutter">
                        <a href="/planjourney" class="col-50">
                            <img src="img/home/plan_journey.png" class="home-icons"/>
                        </a>
                        <a href="/journeys" class="col-50">
                            <img src="img/home/journeys.png" class="home-icons"/>
                            <!-- <i class="fa fa-road"></i>
                             <br/>
                             <h4>MY JOURNEYS</h4>
                             <h5>
                                 abiri
                             </h5>-->
                        </a>


                        <!--                      <a class="col-50"
                                                 href="/planjourney">

                                                  <i class="fa fa-map-marker"></i>
                                                  <br/>
                                                  <h4>PLAN JOURNEY</h4>
                                                  <h5>
                                                      abiri
                                                  </h5>
                                              </a>
                                              <a href="/cars"
                                                 class="col-50">
                                                  <i class="fa fa-car"></i>
                                                  <br/>
                                                  <h4>MY CARS</h4>
                                                  <h5>
                                                      abiri
                                                  </h5>
                                              </a>-->

                        <div class="col-25"></div>
                        <a href="/cars" class="col-50">
                            <img src="img/home/my_cars.png" class="home-icons"/>
                        </a>

                        <div class="col-25"></div>

                    </div>
                </div>

            </div>
            <!-- Toolbar FAB Morph Target -->

            <!-- Toolbar FAB Morph Target -->
            <div class="toolbar toolbar-bottom-md fab-morph-target">
                <div class="toolbar-inner">
                    <!-- Each Toolbar link will close FAB (morph back) on click -->
                    <a class="link fab-close" href="javascript:void(0)" id="gotoJourney">Goto Journey</a>
                    <a class="link fab-close" href="javascript:void(0)" id="endJourney">End Journey</a>
                </div>
            </div>

            <div class="fab fab-right-bottom fab-morph color-pink" data-morph-to=".toolbar">
                <a href="#">
                    <!-- Icons For iOS Theme -->
                    <i class="icon f7-icons ios-only">add</i>
                    <i class="icon f7-icons ios-only">close</i>
                    <!-- Icons For MD Theme -->
                    <i class="icon material-icons md-only">add</i>
                    <i class="icon material-icons md-only">close</i>
                </a>
            </div>
        </div>
    </div>


    <!-- login screen -->
    <div class="popup popup-login">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title">Login</div>

                    <div class="list-block">
                        <p>
                            <a href="#" id="btnFbSignin" class="button button-fill-ios button-raised button-big">
                                <i
                                        class="f7-icons pull-left vert-middle">social_facebook</i>Continue with Facebook
                            </a>
                        </p>
                        <p>
                            <a href="#" id="btnGpSignin" class="button button-fill color-red button-raised button-big">
                                <i
                                        class="f7-icons pull-left vert-middle">social_googleplus</i>Continue with Google
                            </a>
                        </p>
                    </div>


                    <div class="block inset">
                        <div class="block inset">
                            <div class="block-strong">
                                <div class="list">
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">email</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="email" id="user_email" placeholder="Email address">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">lock</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="password" id="user_password"
                                                           placeholder="Your password">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="button button-fill-ios color-green button-big-ios" id="btnSignIn">Sign
                                    In
                                </button>
                                <div class="list-block-label">
                                    <p style="color: #fff; text-align: center;">
                                        <a href="#" class="link popup-open" data-popup=".popup-signup">Sign up</a>
                                        <br/>
                                        <br/>
                                        <a href="#" class="link popup-open" data-popup=".popup-forgot-password">Forgot
                                            password</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- signup screen -->
    <div class="popup popup-signup">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title">Sign Up</div>


                    <div class="block inset">
                        <div class="block inset">
                            <div class="block-strong">
                                <div class="list">
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">person</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="text" id="first_name" placeholder="First name">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">person</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="text" id="last_name" placeholder="Last name">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">email</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="email" id="email" placeholder="Email address">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">phone</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="text" id="phone" placeholder="Phone number">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-divider"></li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">lock</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="password" id="password"
                                                           placeholder="Your password">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">lock</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="password" id="confirm_password"
                                                           placeholder="Confirm password">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="button button-fill-ios color-green button-big-ios" id="btnSignUp">Sign
                                    Up
                                </button>
                                <div class="list-block-label">
                                    <p style="color: #fff; text-align: center;">
                                        <a href="#" class="link popup-close" data-popup=".popup-signup">Cancel</a>
                                        <br/>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>


    <!-- forgot password screen -->
    <div class="popup popup-forgot-password">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title">Forgot Password</div>

                    <div class="block inset">
                        <div class="block inset">
                            <div class="block-strong">
                                <div class="list">
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">email</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="email" id="forgot_email" placeholder="Email address">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-media">
                                                <i class="icon f7-icons">phone</i>
                                            </div>
                                            <div class="item-inner item-colors">
                                                <div class="item-input-wrap">
                                                    <input type="text" id="forgot_phone" placeholder="Your cell number">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="button button-fill-ios color-green button-big-ios" id="btnResetPassword">
                                    Reset Password
                                </button>
                                <div class="list-block-label">
                                    <p style="color: #fff; text-align: center;">
                                        <a href="#" data-popup=".popup-forgot-password"
                                           class="link popup-close">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- top up  screen -->
    <div class="popup popup-topup">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title">Topup Code</div>


                    <form>
                        <div class="list-block login_block block-spacing">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner item-colors">
                                        <div class="smaller-label item-title label"><i class="fa fa-code"
                                                                                       style="font-size: 20px;"></i>
                                        </div>
                                        <div class="item-input">
                                            <input type="text" name="topup" id="topup_code" placeholder="Topup code">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li><a href="javascript:void(0)" id="topupNow"
                                       class="button button-big button-fill color-green"
                                       style="margin-top: 10px;">Topup now</a></li>
                                <li><a href="javascript:void(0)" id="btnCancelTopup" class="button button-big"
                                       style="margin-top: 10px;">Cancel</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- report screen -->
    <div class="popup popup-report">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title" id="reportTitle">Report</div>

                    <div class="block-strong inset">
                        <div class="list no-hairlines-md">
                            <ul>
                                <li class="item-content item-input">
                                    <div class="item-media">
                                        <i class="icon f7-icons">
                                            chats
                                        </i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Review</div>
                                        <div class="item-input-wrap">
                                            <textarea class="resizable"
                                                      placeholder="Your review"
                                                      id="myReview"></textarea>
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25"></div>
                        <div class="col-50">
                            <button class="button button-fill button-big display-block color-green"
                                    id="sendReview">
                                SEND REVIEW
                            </button>
                            <br/>
                            <button class="button button-fill display-block color-red popup-close"
                                    data-popup=".popup-report">
                                CANCEL
                            </button>
                        </div>

                        <div class="col-25"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- tollgate details screen -->
    <div class="popup popup-tollgate">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/login-logo.png" class="center-img" alt="">

                    <div class="login-screen-title">Tollgate Details</div>


                    <div class="block inset">
                        <div class="block inset">
                            <div class="block-strong">
                                <div class="list" id="mytollDetails">

                                </div>
                                <!--<button class="button button-fill-ios color-green button-big-ios"
                                        id="calculateDistance">
                                    DISTANCE BETWEEN
                                </button>-->
                                <div class="list-block-label">
                                    <p style="color: #fff; text-align: center;">
                                        <a href="#" class="link popup-close" data-popup=".popup-tollgate">Close</a>
                                        <br/>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="popup popup-mylocation">
        <form class="searchbar originSearchbar">
            <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search location" id="originSearch">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button">Cancel</span>
            </div>
        </form>
        <div id="originSuggests">

        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col"></div>
            <button class="button col popup-close" data-popup=".popup-mylocation"
                    style="width: 100%; text-align: center;">Close Search
            </button>
            <div class="col"></div>
        </div>
    </div>

    <div class="popup popup-mylocation2">
        <form class="searchbar originSearchbar2">
            <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search location" id="originSearch2">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button">Cancel</span>
            </div>
        </form>
        <div id="originSuggests2">

        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col"></div>
            <button class="button col popup-close" data-popup=".popup-mylocation2"
                    style="width: 100%; text-align: center;">Close Search
            </button>
            <div class="col"></div>
        </div>
    </div>

    <!-- top up  screen -->
    <div class="popup popup-activation">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/logo-login.png" class="center-img" alt="">

                    <div class="login-screen-title">Activate Account</div>


                    <div class="block inset" id="activationStaff">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top up  screen -->
    <div class="popup popup-social-activation">
        <div class="content-block">
            <div data-page="login" class="page no-navbar no-toolbar no-swipeback">
                <div class="page-content login-screen-content login_background">
                    <div class="blur-landing"></div>
                    <img src="img/logo-login.png" class="center-img" alt="">

                    <div class="login-screen-title">Activate Account</div>


                    <div class="block inset" id="socialStaff">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script type="text/javascript" src="lib/cordova/cordova.js"></script>-->
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="lib/lodash.js"></script>
<script type="text/javascript" src="f7/js/framework7.min.js"></script>
<script type="text/javascript" src="lib/jquery/jQuery-2.1.3.min.js"></script>
<script type="text/javascript" src="lib/cookies/js.cookie.js"></script>
<script type="text/javascript" src="js/fn.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script data-main="app" src="lib/require.js"></script>
</body>
</html>