.car .item-media .fa{
    color: #0074BD;
}
#myCar .item-title, #myCar .item-media{
    color: #0074BD;
}
.navbar .title {
    color: #0074BD;
}
.page-previous{
    display: none;
}
.indexPage {
    background: url(../img/index_bg.png) no-repeat center fixed;
    background-size: cover;
}
.home-icons{
    width: 100%;
}